.navbar {
  background-color: var(--charcoal);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.navbar_logo {
  width: 200px;
  height: 75px;
  position: relative;
}

.navbar_logo img {
  object-fit: contain;
}

.search_container {
  display: flex;
  justify-content: space-between;
  background-color: var(--white);
  padding: 10px 20px;
  margin: 10px;
  border-radius: 4px;
  width: 400px;
  height: 40px;
}

.search_container input {
  border: none;
  outline: none;
}

.nav_links {
  color: var(--white);
}

.nav_links ul {
  list-style: none;
  display: flex;
  gap: 1.2rem;
}

.user_icon {
  width: 27px;
  height: 27px;
  color: var(--white);
  margin-top: 5px;
}

.user_icon_arrow {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin: 0 0 5px 10px;
  color: var(--white);
}

.hamburger_menu {
  color: var(--white);
  width: 30px;
  height: 30px;
  display: none;
}

@media screen and (max-width: 1200px) {
  .search_container {
    width: 300px;
  }
}

@media screen and (max-width: 1000px) {

  .search_container,
  .nav_links {
    display: none;
  }

  .navbar {
    justify-content: space-between;
    padding: 0 2rem;
  }

  .hamburger_menu {
    display: inline-block;
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    padding: 0 1rem;
  }

  .navbar_logo {
    width: 150px;
    height: 60px;
  }

  .hamburger_menu {
    width: 20px;
    height: 20px;
  }

  .user_icon {
    width: 20px;
    height: 20px;
  }

  .user_icon_arrow {
    height: 10px;
    width: 10px;
    margin-left: 5px;
  }
}