.main {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.items_container {
  border-collapse: collapse;
  margin: 3rem 0;
}

.items_container td,
.items_container th {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--charcoal);
} 

.item button {
  padding: 0.34rem;
  border-radius: 4px;
}